@model IEnumerable<diyetisyenWebUygulamasi.Models.Post>
@{
    ViewBag.Title = "Postlar | Diyetisyen Uygulaması";
    Layout = "~/Views/Shared/_DiyetisyenLayout.cshtml";
}


<form action="/Hesabim/Postlar" method="post" enctype="multipart/form-data" class="d-flex">
    <div class="d-flex flex-column">
        <label class="form-label" for="resim">Eklenecek Resmi Yükleyin</label>
        <input type="file" id="resim" name="resim" accept="image/*" class="form-check-input w-auto h-auto">
    </div>
    <button name="btn" value="ekle" class="btn btn-success ms-3 mt-3">Ekle</button>
</form>
<hr />
<div class="container mt-5">
    <div class="row">
        @foreach (var post in Model)
        {
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 w-auto">
                <div class="card ms-auto me-auto" style="width:300px;height:auto!important">
                    <img src="@Url.Content(post.MedyaYolu)" style="object-fit:contain;height:300px" />
                    <div class="card-body d-flex justify-content-between">
                        <form action="/Hesabim/Postlar" method="post">
                            <input type="hidden" name="postId" value="@post.Id" />
                            <button class="btn btn-danger" name="btn" value="sil">Kaldır</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    
</div>
