<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Yetkisiz | Diyetisyen Uygulaması</title>
</head>
<body>
    <hgroup>
        <h1>Hata.</h1>
        <h2>Bunu yapmaya yetkiniz yok.</h2>
        <h4>Sebep: @ViewBag.Mesaj</h4>
    </hgroup>
</body>
</html>